<h1 class="geek-font">

	Alvin<span>Sherman</span>Library

	<small class="tagline">
		<span>Meet</span> the <span>Geeks</span>
	</small>

</h1>

<ul class="menu">
	<a class="icon-library geek-font"> <span>sherman</span>library </a> /
	<a class="icon-credit geek-font" href="http://www.nova.edu/library/main"> <span>library</span>card</a>
</ul>